.menu li:hover{
    /* 引用@keyframes定义的动画 */
    animation-name: menu-items;
    /* 动画的的时间 */
    animation-duration: 0.5s;
    /* 动画曲线 */
    animation-timing-function:ease;
    /* 动画开始前的延迟时间 */
    animation-delay: 0s;
    /* 动画播放次数 */
    animation-iteration-count: 1;
    /* 是否反向播放动画 */
    animation-direction: null;
    /* 保持最后一帧状态 */
    animation-fill-mode: forwards;
}

/* 按钮渐变动画 */
@keyframes menu-items{
    from{
        background-color:  rgb(255, 228, 196,0.2);
        transform: translateY(0);
    }
    to{
        background-color: rgb(255, 228, 196,0.6);
        transform: translateY(-2px);
    }
}

/* 组件抖动动画 */
@keyframes shake{
    from {
        transform: translateY(5px);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}