html,body{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #eeeeee;
    position: relative;


    background-color: white;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position:top;
    background-size:100%;
}
.container{
    width: 100%;
    height: 100%;
    background-color: null;
    overflow: scroll;
}
.white{
    width: 100%;
    height: 60%;
    background-color: null;
    top: 40;
}
.panel{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: null;

    justify-content: center;
}
.box{
    padding: 20px;
    text-align: center;
    color: white;
}

.sider{
    background-color:  rgb(67, 187, 243,0.3);
    border-radius: 10px;
    width: 25%;
    /* 设置毛玻璃效果 */
    backdrop-filter: blur(10px);
}
.allsider{
    width: 100%;
    background-color: null;
}
/* 边栏-作者信息 */
.author{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.author-avatar{
    background-image: url("../images/head.jpg") ;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

    width: 120px;
    height: 120px;
    border-radius: 60px;
}
.author-name{
    font-size: x-large;
}
.author-slogan{
    text-wrap: wrap;
    font-family: Snell Roundhand, cursive;
    font-size: medium;
}
/* 边栏-联系方式 */
.contract{
    display: flex;
    justify-content: center;
}
.contract div{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 10px;
    background-color: bisque;
    /* 设置图标水平垂直居中 */
    display: flex;
    justify-content: center;
    align-items: center;
}
.contract img{
    width: 40px;
    height: 40px;
}

/* 边栏-目录 */
.menu{
    display: flex;
    justify-content: center;
}
.menu ul{
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
}
.menu li{
    background-color: bisque;
    margin-bottom: 10px;
    width: 150px;
    height: 50px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li img{
    width: 30px;
    height: 30px;
}

/* 内容页面 */
.main{
    background-color: rgb(255, 255, 255,0.6);
    backdrop-filter: blur(10px);
    width: 75%;
}